button {
    width: 100px;
}

.udp {
    font-size: 36;
    font-weight: 700;
    font-style: italic;
    color: green;
}

.ing {
    font-size: 36;
    font-weight: 700;
    font-style: italic;
    color: #333333;
}

#overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 50%;
    background-color: black;
    visibility: hidden;
}

#editMeshMembers {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    background-color: white;
    visibility: hidden;
    overflow-y: scroll;
}

